 <!-- Footer -->
 <footer class="text-center p-6 text-sm text-gray-600 border-t">
    <p>Orders placed today will ship on or before 4/2/2025</p>
    <ul class="flex justify-center items-center gap-12 mt-4">
      <li class="list-none"><a href="#" class="hover:underline">Your Account</a></li>
      <li class="list-none"><a href="#" class="hover:underline">Sign in</a></li>
      <i class="fa-solid fa-cart-shopping"></i>      
    </ul>
    <div class="flex flex-wrap justify-center text-blue-500 gap-6 mt-4">
      <a href="#" class="hover:underline">Home</a>
      <a href="#" class="hover:underline">Privacy Policy</a>
      <a href="#" class="hover:underline">Contact Us</a>
      <a href="#" class="hover:underline">FAQ</a>
      <a href="#" class="hover:underline">Shipping Information</a>
      <a href="#" class="hover:underline">Site Terms of Use</a>
    </div>
  </footer>